In [0]:
import numpy as np
import pandas as pd

In [0]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Fine Aggregate  Age  Strength
0   540.0                 0.0      0.0  ...           676.0   28     79.99
1   540.0                 0.0      0.0  ...           676.0   28     61.89
2   332.5               142.5      0.0  ...           594.0  270     40.27
3   332.5               142.5      0.0  ...           594.0  365     41.05
4   198.6               132.4      0.0  ...           825.5  360     44.30

[5 rows x 9 columns]

In [0]:
concrete_data.shape

(1030, 9)

In [0]:
concrete_data.describe()

            Cement  Blast Furnace Slag  ...          Age     Strength
count  1030.000000         1030.000000  ...  1030.000000  1030.000000
mean    281.167864           73.895825  ...    45.662136    35.817961
std     104.506364           86.279342  ...    63.169912    16.705742
min     102.000000            0.000000  ...     1.000000     2.330000
25%     192.375000            0.000000  ...     7.000000    23.710000
50%     272.900000           22.000000  ...    28.000000    34.445000
75%     350.000000          142.950000  ...    56.000000    46.135000
max     540.000000          359.400000  ...   365.000000    82.600000

[8 rows x 9 columns]

In [0]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

In [0]:
concrete_data_columns = concrete_data.columns

#predictors = concrete_data[concrete_data_columns[concrete_data_columns != 'Strength']] # all columns except Strength
predictors = concrete_data.drop(['Strength'], axis=1)
target = concrete_data['Strength'] # Strength column

In [0]:
predictors.head()

   Cement  Blast Furnace Slag  Fly Ash  ...  Coarse Aggregate  Fine Aggregate  Age
0   540.0                 0.0      0.0  ...            1040.0           676.0   28
1   540.0                 0.0      0.0  ...            1055.0           676.0   28
2   332.5               142.5      0.0  ...             932.0           594.0  270
3   332.5               142.5      0.0  ...             932.0           594.0  365
4   198.6               132.4      0.0  ...             978.4           825.5  360

[5 rows x 8 columns]

In [0]:
target.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [0]:
predictors_norm = (predictors - predictors.mean()) / predictors.std()
predictors_norm.head()

     Cement  Blast Furnace Slag  ...  Fine Aggregate       Age
0  2.476712           -0.856472  ...       -1.217079 -0.279597
1  2.476712           -0.856472  ...       -1.217079 -0.279597
2  0.491187            0.795140  ...       -2.239829  3.551340
3  0.491187            0.795140  ...       -2.239829  5.055221
4 -0.790075            0.678079  ...        0.647569  4.976069

[5 rows x 8 columns]

In [0]:
n_cols = predictors_norm.shape[1] # number of predictors
n_cols

8

In [0]:
import keras
from tensorflow.python.keras.layers import Dense
from tensorflow.python.keras import Sequential

In [0]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(50, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(50, activation='relu'))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

In [0]:
# build the model
model = regression_model()

In [0]:
# fit the model
model.fit(predictors_norm, target, validation_split=0.3, epochs=100, verbose=2)

Epoch 1/100
23/23 - 0s - loss: 1623.9987 - val_loss: 1142.3782
Epoch 2/100
23/23 - 0s - loss: 1475.3186 - val_loss: 1011.6069
Epoch 3/100
23/23 - 0s - loss: 1234.5857 - val_loss: 815.7385
Epoch 4/100
23/23 - 0s - loss: 900.8224 - val_loss: 571.2235
Epoch 5/100
23/23 - 0s - loss: 547.7703 - val_loss: 338.5709
Epoch 6/100
23/23 - 0s - loss: 312.5662 - val_loss: 209.7325
Epoch 7/100
23/23 - 0s - loss: 236.8719 - val_loss: 174.1051
Epoch 8/100
23/23 - 0s - loss: 222.7698 - val_loss: 168.8069
Epoch 9/100
23/23 - 0s - loss: 214.6686 - val_loss: 166.5046
Epoch 10/100
23/23 - 0s - loss: 203.7246 - val_loss: 163.6210
Epoch 11/100
23/23 - 0s - loss: 194.4302 - val_loss: 160.6877
Epoch 12/100
23/23 - 0s - loss: 188.4521 - val_loss: 156.9956
Epoch 13/100
23/23 - 0s - loss: 185.2667 - val_loss: 156.7570
Epoch 14/100
23/23 - 0s - loss: 178.9476 - val_loss: 153.0546
Epoch 15/100
23/23 - 0s - loss: 173.2002 - val_loss: 153.3206
Epoch 16/100
23/23 - 0s - loss: 170.5301 - val_loss: 150.8055
Epoch 17/100
23/23 - 0s - loss: 167.4292 - val_loss: 148.5650
Epoch 18/100
23/23 - 0s - loss: 161.0446 - val_loss: 147.9879
Epoch 19/100
23/23 - 0s - loss: 158.7745 - val_loss: 147.9828
Epoch 20/100
23/23 - 0s - loss: 156.4740 - val_loss: 147.5162
Epoch 21/100
23/23 - 0s - loss: 155.4189 - val_loss: 147.9431
Epoch 22/100
23/23 - 0s - loss: 154.4186 - val_loss: 147.4384
Epoch 23/100
23/23 - 0s - loss: 150.8949 - val_loss: 147.1064
Epoch 24/100
23/23 - 0s - loss: 148.6483 - val_loss: 147.4919
Epoch 25/100
23/23 - 0s - loss: 148.3342 - val_loss: 148.0547
Epoch 26/100
23/23 - 0s - loss: 147.2295 - val_loss: 149.1643
Epoch 27/100
23/23 - 0s - loss: 143.0839 - val_loss: 147.9776
Epoch 28/100
23/23 - 0s - loss: 141.7386 - val_loss: 150.7955
Epoch 29/100
23/23 - 0s - loss: 140.1913 - val_loss: 149.1726
Epoch 30/100
23/23 - 0s - loss: 141.2927 - val_loss: 153.1360
Epoch 31/100
23/23 - 0s - loss: 139.7118 - val_loss: 151.7002
Epoch 32/100
23/23 - 0s - loss: 137.5445 - val_loss: 154.5537
Epoch 33/100
23/23 - 0s - loss: 135.5001 - val_loss: 154.3284
Epoch 34/100
23/23 - 0s - loss: 134.8707 - val_loss: 155.2101
Epoch 35/100
23/23 - 0s - loss: 134.4512 - val_loss: 154.9995
Epoch 36/100
23/23 - 0s - loss: 133.0796 - val_loss: 155.8338
Epoch 37/100
23/23 - 0s - loss: 133.5751 - val_loss: 157.5717
Epoch 38/100
23/23 - 0s - loss: 131.0117 - val_loss: 156.5374
Epoch 39/100
23/23 - 0s - loss: 129.5936 - val_loss: 157.9580
Epoch 40/100
23/23 - 0s - loss: 128.9377 - val_loss: 157.0348
Epoch 41/100
23/23 - 0s - loss: 127.7920 - val_loss: 158.8087
Epoch 42/100
23/23 - 0s - loss: 127.3282 - val_loss: 156.8372
Epoch 43/100
23/23 - 0s - loss: 127.8425 - val_loss: 159.6944
Epoch 44/100
23/23 - 0s - loss: 125.3819 - val_loss: 154.3587
Epoch 45/100
23/23 - 0s - loss: 123.2615 - val_loss: 158.4937
Epoch 46/100
23/23 - 0s - loss: 124.1318 - val_loss: 162.0629
Epoch 47/100
23/23 - 0s - loss: 121.4904 - val_loss: 156.9053
Epoch 48/100
23/23 - 0s - loss: 119.7834 - val_loss: 159.8445
Epoch 49/100
23/23 - 0s - loss: 119.3840 - val_loss: 156.3986
Epoch 50/100
23/23 - 0s - loss: 121.1964 - val_loss: 158.6530
Epoch 51/100
23/23 - 0s - loss: 118.3446 - val_loss: 155.1865
Epoch 52/100
23/23 - 0s - loss: 115.7120 - val_loss: 152.4468
Epoch 53/100
23/23 - 0s - loss: 114.4994 - val_loss: 156.8403
Epoch 54/100
23/23 - 0s - loss: 112.2630 - val_loss: 153.2465
Epoch 55/100
23/23 - 0s - loss: 112.0857 - val_loss: 155.7144
Epoch 56/100
23/23 - 0s - loss: 108.9353 - val_loss: 151.9713
Epoch 57/100
23/23 - 0s - loss: 107.9191 - val_loss: 151.0882
Epoch 58/100
23/23 - 0s - loss: 105.2162 - val_loss: 148.8369
Epoch 59/100
23/23 - 0s - loss: 103.2740 - val_loss: 147.7357
Epoch 60/100
23/23 - 0s - loss: 100.8527 - val_loss: 147.0121
Epoch 61/100
23/23 - 0s - loss: 98.6748 - val_loss: 144.5604
Epoch 62/100
23/23 - 0s - loss: 96.5331 - val_loss: 144.9088
Epoch 63/100
23/23 - 0s - loss: 94.0519 - val_loss: 150.0452
Epoch 64/100
23/23 - 0s - loss: 91.1430 - val_loss: 139.6275
Epoch 65/100
23/23 - 0s - loss: 88.0590 - val_loss: 141.0602
Epoch 66/100
23/23 - 0s - loss: 85.1275 - val_loss: 140.2245
Epoch 67/100
23/23 - 0s - loss: 80.4766 - val_loss: 136.4642
Epoch 68/100
23/23 - 0s - loss: 77.9259 - val_loss: 131.5400
Epoch 69/100
23/23 - 0s - loss: 75.3399 - val_loss: 137.3736
Epoch 70/100
23/23 - 0s - loss: 72.0722 - val_loss: 125.9728
Epoch 71/100
23/23 - 0s - loss: 71.0542 - val_loss: 131.3087
Epoch 72/100
23/23 - 0s - loss: 67.2145 - val_loss: 126.8223
Epoch 73/100
23/23 - 0s - loss: 65.3340 - val_loss: 126.6012
Epoch 74/100
23/23 - 0s - loss: 63.7014 - val_loss: 126.6517
Epoch 75/100
23/23 - 0s - loss: 61.0972 - val_loss: 123.0408
Epoch 76/100
23/23 - 0s - loss: 59.2133 - val_loss: 127.2645
Epoch 77/100
23/23 - 0s - loss: 56.4133 - val_loss: 123.0128
Epoch 78/100
23/23 - 0s - loss: 54.5558 - val_loss: 121.0543
Epoch 79/100
23/23 - 0s - loss: 53.4103 - val_loss: 119.2087
Epoch 80/100
23/23 - 0s - loss: 51.6738 - val_loss: 121.7264
Epoch 81/100
23/23 - 0s - loss: 50.2840 - val_loss: 116.3647
Epoch 82/100
23/23 - 0s - loss: 49.3748 - val_loss: 118.7085
Epoch 83/100
23/23 - 0s - loss: 47.7206 - val_loss: 119.6924
Epoch 84/100
23/23 - 0s - loss: 47.7545 - val_loss: 116.7289
Epoch 85/100
23/23 - 0s - loss: 46.3618 - val_loss: 130.9553
Epoch 86/100
23/23 - 0s - loss: 45.6834 - val_loss: 122.4479
Epoch 87/100
23/23 - 0s - loss: 44.4532 - val_loss: 116.7521
Epoch 88/100
23/23 - 0s - loss: 42.9435 - val_loss: 121.8721
Epoch 89/100
23/23 - 0s - loss: 42.4307 - val_loss: 127.0087
Epoch 90/100
23/23 - 0s - loss: 42.2212 - val_loss: 123.7582
Epoch 91/100
23/23 - 0s - loss: 40.9970 - val_loss: 125.2812
Epoch 92/100
23/23 - 0s - loss: 40.9947 - val_loss: 123.3777
Epoch 93/100
23/23 - 0s - loss: 39.9008 - val_loss: 123.1702
Epoch 94/100
23/23 - 0s - loss: 39.6774 - val_loss: 128.0686
Epoch 95/100
23/23 - 0s - loss: 38.4752 - val_loss: 124.4170
Epoch 96/100
23/23 - 0s - loss: 37.6380 - val_loss: 121.8112
Epoch 97/100
23/23 - 0s - loss: 38.0951 - val_loss: 126.9856
Epoch 98/100
23/23 - 0s - loss: 36.7083 - val_loss: 124.6195
Epoch 99/100
23/23 - 0s - loss: 36.3688 - val_loss: 118.1520
Epoch 100/100
23/23 - 0s - loss: 36.2456 - val_loss: 129.6086